In [5]:
import json
import pandas as pd

In [ ]:
import pandas as pd
import json

# Load the JSON file
with open("test.json", "r") as f:
    json_data = json.load(f)

# Extract the 'data' section
data = json_data["data"]

# Flatten the nested structure into a DataFrame
df = pd.json_normalize(data)

# Display the DataFrame
print(df)

   flight_date flight_status  aircraft  live  \
0   2024-11-22     scheduled       NaN  None
1   2024-11-21        landed       NaN  None
2   2024-11-21     scheduled       NaN  None
3   2024-11-21     scheduled       NaN  None
4   2024-11-21     scheduled       NaN  None
..         ...           ...       ...   ...
95  2024-11-21     scheduled       NaN  None
96  2024-11-21     scheduled       NaN  None
97  2024-11-21     scheduled       NaN  None
98  2024-11-21     scheduled       NaN  None
99  2024-11-21     scheduled       NaN  None

                            departure.airport  departure.timezone  \
0                                       Dubbo    Australia/Sydney
1                               Lizard Island  Australia/Brisbane
2                      Auckland International    Pacific/Auckland
3                                  Launceston    Australia/Hobart
4                             Seoul (Incheon)          Asia/Seoul
..                                        ...                 ...
95             Sydney Kingsford Smith Airport    Australia/Sydney
96             Sydney Kingsford Smith Airport    Australia/Sydney
97             Sydney Kingsford Smith Airport    Australia/Sydney
98                                   Yancheng       Asia/Shanghai
99  Kuala Lumpur International Airport (klia)   Asia/Kuala_Lumpur

   departure.iata departure.icao departure.terminal departure.gate  ...  \
0             DBO           YSDU               None           None  ...
1             LZR           YLZI               None           None  ...
2             AKL           NZAA               None           None  ...
3             LST           YMLT               None           None  ...
4             ICN           RKSI               None           None  ...
..            ...            ...                ...            ...  ...
95            SYD           YSSY               None           None  ...
96            SYD           YSSY               None           None  ...
97            SYD           YSSY               None           None  ...
98            YNZ           ZSYN               None           None  ...
99            KUL           WMKK                  2           None  ...

    aircraft.registration aircraft.iata aircraft.icao aircraft.icao24  \
0                     NaN           NaN           NaN             NaN
1                  VH-HLJ          BE20          BE20          7C2505
2                     NaN           NaN           NaN             NaN
3                     NaN           NaN           NaN             NaN
4                     NaN           NaN           NaN             NaN
..                    ...           ...           ...             ...
95                    NaN           NaN           NaN             NaN
96                    NaN           NaN           NaN             NaN
97                    NaN           NaN           NaN             NaN
98                    NaN           NaN           NaN             NaN
99                    NaN           NaN           NaN             NaN

   flight.codeshared.airline_name flight.codeshared.airline_iata  \
0                             NaN                            NaN
1                             NaN                            NaN
2                             NaN                            NaN
3                             NaN                            NaN
4                             NaN                            NaN
..                            ...                            ...
95                            NaN                            NaN
96                            NaN                            NaN
97                            NaN                            NaN
98                            NaN                            NaN
99                            NaN                            NaN

   flight.codeshared.airline_icao flight.codeshared.flight_number  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3                             NaN                             NaN
4                             NaN                             NaN
..                            ...                             ...
95                            NaN                             NaN
96                            NaN                             NaN
97                            NaN                             NaN
98                            NaN                             NaN
99                            NaN                             NaN

   flight.codeshared.flight_iata flight.codeshared.flight_icao
0                            NaN                           NaN
1                            NaN                           NaN
2                            NaN                           NaN
3                            NaN                           NaN
4                            NaN                           NaN
..                           ...                           ...
95                           NaN                           NaN
96                           NaN                           NaN
97                           NaN                           NaN
98                           NaN                           NaN
99                           NaN                           NaN

[100 rows x 46 columns]

In [10]:
df.head()

,flight_date,flight_status,aircraft,live,departure.airport,departure.timezone,departure.iata,departure.icao,departure.terminal,departure.gate,...,aircraft.registration,aircraft.iata,aircraft.icao,aircraft.icao24,flight.codeshared.airline_name,flight.codeshared.airline_iata,flight.codeshared.airline_icao,flight.codeshared.flight_number,flight.codeshared.flight_iata,flight.codeshared.flight_icao
0,2024-11-22,scheduled,NaN,None,Dubbo,Australia/Sydney,DBO,YSDU,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-21,landed,NaN,None,Lizard Island,Australia/Brisbane,LZR,YLZI,None,None,...,VH-HLJ,BE20,BE20,7C2505,NaN,NaN,NaN,NaN,NaN,NaN
2,2024-11-21,scheduled,NaN,None,Auckland International,Pacific/Auckland,AKL,NZAA,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2024-11-21,scheduled,NaN,None,Launceston,Australia/Hobart,LST,YMLT,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2024-11-21,scheduled,NaN,None,Seoul (Incheon),Asia/Seoul,ICN,RKSI,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.info

<bound method DataFrame.info of    flight_date flight_status  aircraft  live  \
0   2024-11-22     scheduled       NaN  None
1   2024-11-21        landed       NaN  None
2   2024-11-21     scheduled       NaN  None
3   2024-11-21     scheduled       NaN  None
4   2024-11-21     scheduled       NaN  None
..         ...           ...       ...   ...
95  2024-11-21     scheduled       NaN  None
96  2024-11-21     scheduled       NaN  None
97  2024-11-21     scheduled       NaN  None
98  2024-11-21     scheduled       NaN  None
99  2024-11-21     scheduled       NaN  None

                            departure.airport  departure.timezone  \
0                                       Dubbo    Australia/Sydney
1                               Lizard Island  Australia/Brisbane
2                      Auckland International    Pacific/Auckland
3                                  Launceston    Australia/Hobart
4                             Seoul (Incheon)          Asia/Seoul
..                                        ...                 ...
95             Sydney Kingsford Smith Airport    Australia/Sydney
96             Sydney Kingsford Smith Airport    Australia/Sydney
97             Sydney Kingsford Smith Airport    Australia/Sydney
98                                   Yancheng       Asia/Shanghai
99  Kuala Lumpur International Airport (klia)   Asia/Kuala_Lumpur

   departure.iata departure.icao departure.terminal departure.gate  ...  \
0             DBO           YSDU               None           None  ...
1             LZR           YLZI               None           None  ...
2             AKL           NZAA               None           None  ...
3             LST           YMLT               None           None  ...
4             ICN           RKSI               None           None  ...
..            ...            ...                ...            ...  ...
95            SYD           YSSY               None           None  ...
96            SYD           YSSY               None           None  ...
97            SYD           YSSY               None           None  ...
98            YNZ           ZSYN               None           None  ...
99            KUL           WMKK                  2           None  ...

    aircraft.registration aircraft.iata aircraft.icao aircraft.icao24  \
0                     NaN           NaN           NaN             NaN
1                  VH-HLJ          BE20          BE20          7C2505
2                     NaN           NaN           NaN             NaN
3                     NaN           NaN           NaN             NaN
4                     NaN           NaN           NaN             NaN
..                    ...           ...           ...             ...
95                    NaN           NaN           NaN             NaN
96                    NaN           NaN           NaN             NaN
97                    NaN           NaN           NaN             NaN
98                    NaN           NaN           NaN             NaN
99                    NaN           NaN           NaN             NaN

   flight.codeshared.airline_name flight.codeshared.airline_iata  \
0                             NaN                            NaN
1                             NaN                            NaN
2                             NaN                            NaN
3                             NaN                            NaN
4                             NaN                            NaN
..                            ...                            ...
95                            NaN                            NaN
96                            NaN                            NaN
97                            NaN                            NaN
98                            NaN                            NaN
99                            NaN                            NaN

   flight.codeshared.airline_icao flight.codeshared.flight_number  \
0                             NaN                             NaN
1                             NaN                             NaN
2                             NaN                             NaN
3                             NaN                             NaN
4                             NaN                             NaN
..                            ...                             ...
95                            NaN                             NaN
96                            NaN                             NaN
97                            NaN                             NaN
98                            NaN                             NaN
99                            NaN                             NaN

   flight.codeshared.flight_iata flight.codeshared.flight_icao
0                            NaN                           NaN
1                            NaN                           NaN
2                            NaN                           NaN
3                            NaN                           NaN
4                            NaN                           NaN
..                           ...                           ...
95                           NaN                           NaN
96                           NaN                           NaN
97                           NaN                           NaN
98                           NaN                           NaN
99                           NaN                           NaN

[100 rows x 46 columns]>

In [18]:
# Count flights where both 'departure.actual' and 'arrival.actual' are not null
landed_flights_count = df[df['flight_status']=='landed'].shape[0]

print(f"Number of flights that have landed: {landed_flights_count}")

Number of flights that have landed: 1

In [20]:
df.describe()

       aircraft  departure.delay  arrival.delay  flight.codeshared
count       0.0              1.0            1.0                0.0
mean        NaN             10.0            4.0                NaN
std         NaN              NaN            NaN                NaN
min         NaN             10.0            4.0                NaN
25%         NaN             10.0            4.0                NaN
50%         NaN             10.0            4.0                NaN
75%         NaN             10.0            4.0                NaN
max         NaN             10.0            4.0                NaN

In [21]:
with open("test2.json", "r") as f:
    json_data = json.load(f)

# Extract the 'data' section
data = json_data["data"]

# Flatten the nested structure into a DataFrame
df2 = pd.json_normalize(data)

# Display the DataFrame
df2.head()

,flight_date,flight_status,aircraft,live,departure.airport,departure.timezone,departure.iata,departure.icao,departure.terminal,departure.gate,...,flight.codeshared.airline_iata,flight.codeshared.airline_icao,flight.codeshared.flight_number,flight.codeshared.flight_iata,flight.codeshared.flight_icao,flight.codeshared,aircraft.registration,aircraft.iata,aircraft.icao,aircraft.icao24
0,2024-11-21,landed,NaN,None,Changsha,Asia/Shanghai,CSX,ZGHA,1,1-7,...,3u,csc,8766,3u8766,csc8766,NaN,NaN,NaN,NaN,NaN
1,2024-11-21,landed,NaN,None,Changsha,Asia/Shanghai,CSX,ZGHA,1,1-7,...,3u,csc,8766,3u8766,csc8766,NaN,NaN,NaN,NaN,NaN
2,2024-11-21,landed,NaN,None,Changsha,Asia/Shanghai,CSX,ZGHA,1,1-7,...,3u,csc,8766,3u8766,csc8766,NaN,NaN,NaN,NaN,NaN
3,2024-11-21,landed,NaN,None,Changsha,Asia/Shanghai,CSX,ZGHA,1,1-7,...,3u,csc,8766,3u8766,csc8766,NaN,NaN,NaN,NaN,NaN
4,2024-11-21,landed,NaN,None,Changsha,Asia/Shanghai,CSX,ZGHA,2,B33-,...,mu,ces,2754,mu2754,ces2754,NaN,NaN,NaN,NaN,NaN